$nav-text-red: red;
a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

mat-sidenav {
    width: 250px;
}

.mat-drawer-container a,
.mat-toolbar{
    color: $nav-text-red;
}

.mat-primary {
  background-color: rgba(255, 20, 147, 0.15) !important;
}
